/*
font-family: 'Gruppo', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
*/
body{
    font-family: 'Montserrat Alternates', sans-serif;
}

header{
    background-color: #610C63;
}

/*Section One*/
#SectionOne{
    padding: 3% 15%;
}

/*Nav Bar*/
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Righteous', cursive;
    font-size: 1.52rem;
}

.navbar-brand:hover{
    color: #CCD6A6;
    opacity: 0.6;
}

.nav-item{
    padding: 0 18px;
}

.nav-item a{
    font-family: 'Righteous', cursive;
}

/*Section One Pic*/
#smartPhonePic{
    margin-top: 8%;
    width:100%;
    transform: rotate(30deg);
    cursor:grab;
}

#smartPhonePic:hover{
    transform: rotate(0deg);
}

#smartPhonePic:active{
    box-shadow: 2px 2px 5px #fc894d;
}

/*Section One text*/
#SectionOne h1{
    font-weight: bolder; 
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 5%;
}
